<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>

<div>
    <form method="post" action="/upload">
        <label> Upload file:
            <input type="file" name="file">
            <button>Upload</button>
        </label>
    </form>
</div>

    <table th:if="${file} != null">
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
        <tr th:each="entry:${file}">
            <td th:text="${entry.isbn}"></td>
            <td th:text="${entry.title}"></td>
            <td th:text="${entry.author}"></td>
        </tr>
    </table>
<div>
    <form method="post" action="/add">
        <button>Add Book</button>
    </form>
</div>
<div>
    <form method="post" action="/download">
        <button>Download in XML</button>
    </form>
</div>

</body>
</html>
