<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>

<!--Uploading XML-->

<div>
    <h2>File manipulation</h2>
    <form method="post" enctype="multipart/form-data" th:action="@{/upload}">
        <label> Upload file:
            <input type="file" name="file">
            <button>Upload</button>
        </label>
    </form>
</div>

<h1 th:if="${warning}">Please, choose the file!</h1>

<!--Exporting in XML-->

<div th:if="${books} != null">
    <form method="get" th:action="@{/download}">
        <button>Download in XML</button>
    </form>
</div>

<!-- Showing the data -->

<table th:if="${books} != null">
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    <tr th:each="entry:${books}">
        <td th:text="${entry.isbn}"></td>
        <td th:text="${entry.title}"></td>
        <td th:text="${entry.author}"></td>
        <td>
            <form action="get" th:action="@{/edit/{isbn} (isbn=*{entry.isbn})}">
                <button>Edit</button>
            </form>
        </td>
        <td>
            <form method="post" th:action="@{/remove/{isbn} (isbn=*{entry.isbn})}">
                <button>Delete</button>
            </form>
        </td>
    </tr>
</table>

<!--Sorting-->

<div th:if="${books} != null">
    <form method="get" th:action="@{/sortByIsbn}">
        <button>Sort By ISBN</button>
    </form>
</div>

<div th:if="${books} != null">
    <form method="get" th:action="@{/sortByTitle}">
        <button>Sort By Title</button>
    </form>
</div>

<div th:if="${books} != null">
    <form method="get" th:action="@{/sortByAuthor}">
        <button>Sort By Author</button>
    </form>
</div>

<!--Adding-->

<div>
    <h2>Adding</h2>
    <form method="post" th:action="@{/addBook}" th:object="${book}">
        <label> ISBN
            <span th:errors="*{isbn}"></span>
            <input th:field="*{isbn}">
        </label>
        <label> Title
            <span th:errors="*{title}"></span>
            <input th:field="*{title}">
        </label>
        <label> Author
            <span th:errors="*{author}"></span>
            <input th:field="*{author}">
        </label>
        <button name="enter">Add Book</button>
        <button name="cancel">Cancel</button>
    </form>
    <h3 th:if="${addingWarning}">Cannot add, ISBN already exists.</h3>
</div>


<!--Editing-->

<div th:if="${editbook}!=null" th:object="${editbook}">
    <h2>Editing</h2>
    <form method="post" th:action="@{/edit/{isbn}/editing (isbn=${editbook.isbn})}">
        <label> ISBN
            <span th:errors="*{isbn}"></span>
            <input th:field="*{isbn}">
        </label>
        <label> Title
            <span th:errors="*{title}"></span>
            <input th:field="*{title}">
        </label>
        <label> Author
            <span th:errors="*{author}"></span>
            <input th:field="*{author}">
        </label>
        <button name="send">Send</button>
        <button name="cancel">Cancel</button>
    </form>
</div>

<!--Search-->
<h2>Searching</h2>
<div>
    <form th:action="@{/search}" method="get" th:object="${wordSearch}">
        <label>Enter search:
            <input th:field="*{searchedWord}"></label>
            <span th:errors="*{searchedWord}"></span>
        <button>Search/Retrieve to original</button>
    </form>
</div>

</body>
</html>
